.wrapper{
    margin-top: 15px;
}

.comment{
    padding: 15px;
    border: 1px #000000 solid;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user{
    color: #551448;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}