.title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.filters{
    display: flex;
    align-items: center;
}

.searchInput{
    margin-top: 20px;
    max-width: 300px;
    outline: none;
}

.calendar{
    margin-top: 20px;
    max-width: 300px;
    margin-left: 15px;
    height: 100%;
}

.editBtn{
    margin-top: 20px;
    margin-left: 15px;
    height: 56px;
}

.cardList{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin-top: 20px;
}